aiofiles
altair
annotated-types
anyio
appnope
archspec
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
backcall
beautifulsoup4
bleach
boltons
Brotli
bs4
certifi
cffi
charset-normalizer
click
colorama
comm
conda-package-handling
conda_package_streaming
confluent-kafka
contourpy
cycler
debugpy
decorator
defusedxml
distro
dnspython
easy_sklearn
email_validator
exceptiongroup
executing
Faker
fastapi
fastapi-cli
fastjsonschema
ffmpy
filelock
fonttools
fqdn
frozendict
fsspec
fuzzywuzzy
gradio
gradio_client
h11
h2
hpack
httpcore
httptools
httpx
huggingface-hub
hyperframe
idna
importlib_metadata
importlib_resources
ipykernel
ipython
isoduration
jedi
Jinja2
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kafka-python
kiwisolver
Levenshtein
lxml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
missingno
mistune
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
notebook_shim
numpy
orjson
outcome
overrides
packaging
pandas
pandocfilters
parso
patsy
pexpect
pickleshare
pillow
platformdirs
plotly
plotly-express
pluggy
prometheus_client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycosat
pycparser
pydantic
pydantic_core
pydub
Pygments
pyparsing
PySocks
python-dateutil
python-dotenv
python-json-logger
python-Levenshtein
python-multipart
pytz
PyYAML
pyzmq
RapidFuzz
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
ruamel.yaml
ruamel.yaml.clib
ruff
scikit-learn
scipy
seaborn
selenium
semantic-version
Send2Trash
shellingham
six
sniffio
sortedcontainers
soupsieve
stack-data
starlette
statsmodels
tenacity
terminado
threadpoolctl
tinycss2
tomli
tomlkit
toolz
tornado
tqdm
traitlets
trio
trio-websocket
typer
types-python-dateutil
typing_extensions
tzdata
ucimlrepo
ujson
uri-template
urllib3
uvicorn
uvloop
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
Wikipedia-API
wsproto
zipp
zstandard
funpymodeling