Python==3.10.18
numpy==2.2.5
pandas==2.3.2
scikit-learn==1.7.2
xgboost==3.0.5
lightgbm==4.6.0
torch==2.5.1
torchvision==0.20.1
matplotlib==3.10.1
seaborn==0.13.2
joblib==1.5.2
tqdm==4.67.1
openpyxl==3.1.5
pyyaml==6.0.2
jsonschema==4.25.1
notebook==7.4.5
ipykernel==6.30.1
